body{font-family: 'Edu VIC WA NT Beginner', cursive, Arial, Helvetica, sans-serif;
    background-image: url(https://cf.shopee.com.br/file/011484c317cb934d2de59a91845beef0);}
h1{text-align: center;}
p{line-height:1,2 ; color: black ;
font-weight: 500; }

